{% extends 'base.html.twig' %}

{% block title %}OuiQuit - Login{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block flashes %}
    {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ label }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
{% block body %}
    <div class="container">
      {{ form_start(form,  {'attr': {'id': 'main'}})}}
      <h2>Login to your account</h2>

        
        
        
        
        
            <div class="input-parent">{{ form_widget(form.username) }}
            </div>

    <div class="input-parent">
            {{ form_widget(form.password) }}

    </div>

    <button type="submit">Login</button>
      {{ form_end(form)}}
    </div>
{% endblock %}