{% extends 'base.html.twig' %}

{% block title %}OuiQuit - Connexion{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('navbar') }}
    {{ encore_entry_link_tags('login') }}
    {{ encore_entry_link_tags('alerts') }}
{% endblock %}

{% block container %}
    <div class="container">
      {{ form_start(form,  {'attr': {'id': 'main'}})}}
      <h2>Connexion à l'admin</h2>

            <div class="input-parent">{{ form_widget(form.username) }}
            </div>

    <div class="input-parent">
            {{ form_widget(form.password) }}

    </div>

    <button type="submit">Login</button>
      {{ form_end(form)}}
    </div>
{% endblock %}