<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        OuiQuit
      {% endblock %}
    </title>
    <link rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
      	{{ encore_entry_link_tags('app') }}
		{{ encore_entry_link_tags('navbar') }}
		{{ encore_entry_link_tags('alerts') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    {% block header %}
      <nav class="navbar">
        <a href="{{ path('app_home') }}" class="logo">OuiQuit</a>
        <input type="checkbox" id="toggler" />
        <label for="toggler"><i class="ri-menu-line"></i></label>
        <div class="menu">
          <ul class="list">
            {% if app.session.get('token') %}
            	<li>
                	<a href="{{ path('users') }}">Utilisateurs</a>
                </li>
                <li>
                  <p> {{ app.session.get('username') }}</p>
                </li>
                <li>
                  <a href="{{ path('logout') }}">Déconnexion</a>
                </li>
              </div>
            {% else %}
				<li>
                	<a href="{{ path('login') }}">Connexion</a>
             	</li>
            {% endif %}
          </ul>
        </div>
      </nav>
    {% endblock %}
    {% block body %}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert {{label}}">
					<input type="checkbox" id="alert2"/>
					<label class="close" title="close" for="alert2">
				<i class="icon-remove"></i>
				</label>
					<p class="inner">
						{{ message }}
					</p>
				</div>
			{% endfor %}
		{% endfor %}
		{% block container %}{%	endblock %}
    {% endblock %}
  </body>
</html>
